
/*Variables.*/
:root {
	--red: #E23A59;
	--lighblue: #44ADAD;
    --darkblue: #3E506B;
    --yellow: #FCC82B;
    --bone: #D1C7B8;
    --light: #B8C6D1;
    --white: #FFFDFA;
}

/*Default, global rules for the HTML.*/
html {
    background-color: var(--darkblue);
    user-select: none;
}

/*Title Styles.*/
.mainwrapper {
    margin: 2em auto 0; 
}

.wrapperTitle {
    margin: 0 0 1em;
    border-top: 0.2em solid var(--white);
    border-bottom: 0.2em solid var(--white);
}

.mainTitle {
    text-align: center;
    margin: 0 auto;
    color: var(--red);
}

/*Tabs Menu Styles.*/
.secondaryWrapper{
    margin-top: 2em;
    border-bottom: 2px solid var(--white);
}

.btns {
    color: var(--white);
    background-color: var(--lighblue);
    border: 0;
    height: 3em;
    width: 10vw;
    border-radius: 30px 10px 0 0;
}

.wrapperBtns:hover .wrapperContent {
    display: block;
}

.wrapperBtns {
    display: inline-block;
    position: relative;
}

.wrapperContent {
    display: none;
    position: absolute;
    width: 66.5vw;
    height: 20vh;
    background-color: var(--bone);
    border-bottom: 0.2em solid var(--yellow);
}

.contentBtns {
    padding: 0.4em 1em;
    margin: 0.4em 1em;
}

/*Media Styles*/
.mediaBtns {
    margin: 0.4em 1em;
    position: absolute;
    font-size: 2em;
    text-decoration: none;
    color: var(--darkblue);
}

#facebook {
    bottom: 0;
    left: 0;
}

#instagram {
    bottom: 0;
    right: 0;
}

/*Images Styles*/

.wrapperImg {
    display: none;
    position: absolute;
    width: 85vw;
    height: 40vh;
    background-color: var(--bone);
    border-bottom: 0.2em solid var(--yellow);
}

.wrapperBtns:hover .wrapperImg {
    display: block;
}


.imgContent {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 30vh;
    margin: 1em auto;
}

/*Arrow Styles*/
.arrowL {
    font-size: 2em;
    opacity: 0.5;
    color: var(--red);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.2em;
    z-index: 1;
    transform: rotateY(180deg);
    transition: 0.6s;
}

.arrowL:hover, .arrowR:hover {
    color: var(--darkblue);
    opacity: 1;
    border: 0.1em solid var(--lighblue);
    border-radius: 50%;
    padding: 0.1em;
}

.arrowR {
    font-size: 2em;
    opacity: 0.5;
    color: var(--red);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.2em;
    z-index: 1;
    transition: 0.6s;
}

/*Footer Styles*/
.footer {
    margin: 1em 0.5em;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footerText {
    text-align: center;
    margin: 1em auto;
    border-top: 0.2em solid var(--darkblue);
}